/*  your css code here. If applicable */
body{
	background-color:rgb(241,241,241);
	padding:50px;
}

.main{
	margin:0;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-item:center;
}
img{
	width:500px;
}
.one{
	font-size:90px;
}
.two{
	font-size:45px;
}
.three{
	
	font-size:45px;
}
button{
	width:200px;
	height:80px;
	border-radius:20px;
	background-color:rgb(254,98,90);
	border:none;
	font-size:24px;
	color:white;
}